<style>
	h1.slogan {color: red; font-weight: bold;}
</style>

<%= render 'layouts/header' %>
<div class="container"> 
	<center>
		<h1 class="slogan"> Connect To Those Who Can</h1>
	</center>
</div>