
  <div class="jumbotron">
    <p id="bottom"> 
    Updates: <br>
    26-09-2016 ==> welcome page is ready, publishing soon. Stay tuned ! <br>
    29-09-2016 ==> Created page is ready with nav bar <br>
    04-10-2016 ==> app pushed to heroku <br>

    </p>

  </div>